{% extends 'base.html' %}

{% block bodyblock %}

    <br> <br><br>
    <h1 style="text-align: center; color:darkgreen; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <b>Natural Image Classifier</b>
    </h1>
    <h2 style="text-align: center; color: brown; font-family:'Times New Roman';"><b>
      AI  Model  to  predict  the type of an Image !
    </b>
    </h2>
    <br>
    <h3 style="text-align: center;color:MediumAquaMarine; font-family:'Times New Roman', Times, serif; "><b>
      <strong>The Images can be classified as 8 categories</strong> <br></b>
  </h3>
  </h4 >     
      <span style="text-align:center;color:white;"> Go  to  <b style="font-size:25px;">'Predict'</b>  section in navbar to  upload  the   image  and  Predict  the  Image class !!</span>
    </b></h4><br><br>



    <!-- Footer -->


    {% endblock %}
